<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
     <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link href="styles.css" rel="stylesheet">
    <title>classes</title>
  </head>
  <body>
    <div class="container-fluid">

      <div class="header col-lg-12 col-md-6"> <!-- contain slideshow -->
        <!-- <img src="images/health/ride.jpg" alt="foodride"  style="width:200px; height:150px;" > -->
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#trainers">Trainers</a></li>
            <li><a href="#recipes">Recipes</a></li>
            <li><a href="classes.html">Classes</a></li>
            <li><a href="#about">About</a></li>
        </ul>

      </div>
    </div>
    <div class="row">
     <div class=" classes col-lg-6" id="classes"> <!--different classes -->
       <table>
         <tr>
           <th>Days</th>
           <th>8.00am</th>
           <th>2.00pm</th>
           <th>6.00pm</th>
         </tr>
         <tr>
           <td>Monday</td>
           <td>Salsa</td>
           <td>Aerobics</td>
           <td>Yoga</td>
         </tr>
         <tr>
           <td>Tuesday</td>
           <td>Aerobics</td>
           <td>Salsa</td>
           <td>Yoga</td>
         </tr>
         <tr>
           <td>Wednesday</td>
           <td>Yoga</td>
           <td>Aerobics</td>
           <td>Salsa</td>
         </tr>
         <tr>
           <td>Thursday</td>
           <td>Salsa</td>
           <td>Yoga</td>
           <td>Aerobics</td>
         </tr>
         <tr>
           <td>Friday</td>
           <td>Yoga</td>
           <td>Salsa</td>
           <td>Aerobics</td>
         </tr>
       </table>
    </div>
    <div class=" price">
      <h5>Charges for the classes</h5>
      <p>5 classes at ksh 2,500/=</p>
      <p>8 classes at ksh 3,000/=</p>
      <p>10 classes at ksh 3,500/=</p>
      <p>15 classes at ksh 4,500/=</p>
    </div>
    <div class="total">
      <h5>choose how many classes you want</h5>
      <p>Salsa:
        <input type="number" name="salsa" value=""v-model="Number"></p>
      <p>Yoga:
        <input type="number" name="yoga" value=""v-model="Number"></p>
      <p>Aerobics:
        <input type="number" name="aerobics" value=""v-model="Number"></p>
    </div>
  </div>
    <div class="booking col-lg-3"><!-- booking calender -->

    </div>
  </div>
  </body>
</html>
