.container-fluid{
  /*background-image: url(images/health/aerobic.jpg);*/
}
.header{
  height: 200px;
  width: 100%;
  background-image:url(images/health/salsa.jpg);
  background-color: red;
  /*position: fixed;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
}

li {
    float: left;
}

li a {
    display: block;
    color:red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:crimson;
}

.active {
    background-color:black;
}

.trainers{
  border-style: ridge;
  color: white;
  background-image: url(images/health/dark2.jpg);
  height: 450px;
  width: 80%;
  margin-right: 50px;
  margin-left: 150px

}
#ivy {
  float:left;
  margin-top:-50px;
  margin-left: 50px;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width : 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50px;
  border:0.5px solid white;
  radius:25px;
  transition: all .2s ease-out;
  }
  #ivy image{
    display: inline-block;
  }
  #charles {
    float: left;
    margin-top: 50px;
    margin-left:50px;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    width : 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 50px;
    border:0.5px solid white;
    radius:25px;
    transition: all .2s ease-out;
    }
  #charles image{
    display: inline-block;
  }

  #para{
    display: inline-block;
    margin-top: 130px;
  }
.news{

  /*background-color: orange;*/
  width: 70%;
  height: 700px;
  display: inline-block;
}
.classes{
  /*background-color: yellow;*/
  height: 300px;
  width: 55%;

}
.price{
  float: right;
  width: 25%;
}
.total{
 width: 20%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #crimson;
}
.diet{
  border-style: ridge;
  height: 300px;
  width: 20%;
  /*background-color: cyan;*/


}
.foodie{
  border-style: outset;
  height: 300px;
  width: 50%;
  /*background-color: green;*/

}
.booking{
  border-style: ridge;
background-clip: border-box;
  width: 100%;
  /*background-color: pink;*/

}
.footer{
  background-color: purple;
  height: 100px;
width: 100%;
}
